<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stucat002/css/css/bootstrap.min.css">
	<style type="text/css">
	  a:hover {
	    cursor:pointer;
	 }
	 </style>
</head>

<body>
<h1 style="text-align:center">Welcome to Self-Resourcing Electronic Journal</h1>
   
   
   #if (!$session.getAttribute("username"))
   	   <h4>$status</h4>
	   <form method="post" action="Login">
		<p>Email: <input type="text" name="email"> Password: <input type="password" name="pwd">&nbsp;<input type="submit"  class="btn btn-primary" value="Login"></p>
	   </form>	   
   #else
   	   #if ($session.getAttribute("requiredreviewscount") > 0)
   	       <h4 align="right">You must complete $session.getAttribute("requiredreviewscount") more review(s) before your articles can be published ($session.getAttribute("articlecount") articles in queue)</h4>
   	   #end
   	   <h4>Logged in as $session.getAttribute("username")</h4>
   	   <form method="post" action="Logout">
		<input type="submit"  class="btn btn-primary" value="Logout"></p>
	   </form>	
   #end

<div class="nav">
  <ul>
    <li><a href="#notification">Notification</a></li>
    <li><a href="#editor">Contact editor</a></li>
    <li><a href="ReaderAbout">About</a></li>

  </ul>
</div>  

<h3>
   <a href="Search">Search</a>
</h3>


<ul>
  <div class="nav" id="volumesDiv">
	  <li class="nav" id="volumesList">
	  </li> 
  </div> 
</ul>


<script type="text/javascript">
	 
    var volumeArr = ${volumeArr};
    
     (function(){
	volumeArr.forEach(function(vol){
	    
		var el = document.getElementById('volumesList');
		
		var v = document.createElement('a');
		var linkText = document.createTextNode(vol.Name);
		v.appendChild(linkText);
		v.setAttribute('onclick','showEditions('+vol.VolumeId+')');
		v.setAttribute('id', 'v' + vol.VolumeId);
		el.appendChild(v);
		var br = document.createElement('br');
		el.appendChild(br);
		
		var editionData = ${editionData};
 
		editionData[vol.VolumeId].forEach(function(v){
		
			var e = document.createElement('a');
			var linkText = document.createTextNode(v.Description);
			e.appendChild( document.createTextNode( '\u00A0 \u00A0 \u00A0' ) );
			e.appendChild(linkText);
			e.setAttribute('onclick','showArticles('+v.EditionId+')');
			e.setAttribute('id', 'e' + v.EditionId);
			e.setAttribute('style','display: none;');
			el.appendChild(e);
			var br = document.createElement('br');
			e.appendChild(br);
			
			var articleData = ${articleData};
 
			
			articleData[v.EditionId].forEach(function(v){
				var a = document.createElement('a');
				var linkText = document.createTextNode(v.Title);
				a.appendChild( document.createTextNode( '\u00A0 \u00A0 \u00A0 \u00A0 \u00A0 \u00A0' ) );
				a.appendChild(linkText);
				a.setAttribute('id', 'a' + v.ArticleId);
				a.setAttribute('href', 'Article?aId='+v.ArticleId);
				a.setAttribute('style','display: none;');
				el.appendChild(a);
				var br = document.createElement('br');
				a.appendChild(br);
				

                    })
		})
		
		
	});
    })();
    
    function showEditions(volId) {
    	
    	var editionData = ${editionData};
    	
    	var el = document.getElementById('v'+volId);

	editionData[volId].forEach(function(v){
	    	var elE = document.getElementById('e'+v.EditionId);
	    	
	    	if(elE.getAttribute('style') == 'display: initial;' ) {
	    	  elE.setAttribute('style','display: none;');
	    	   
		var articleData = ${articleData};
		
		articleData[v.EditionId].forEach(function(v){
			var elA = document.getElementById('a'+v.ArticleId);
			elA.setAttribute('style','display: none;');
		})	    	  
	    	  
	    	  
	    	}
	    	else {
	    	  elE.setAttribute('style','display: initial;');
	    	}
		
	})
    }
    
    function showArticles(EdId) {
    	
    	var articleData = ${articleData};
    	
    	var el = document.getElementById('e'+EdId);
    	
 	articleData[EdId].forEach(function(v){
	    	var el = document.getElementById('a'+v.ArticleId);
	    	
	    	if(el.getAttribute('style') == 'display: initial;' ) {
	    	  el.setAttribute('style','display: none;');
	    	}
	    	else {
	    	  el.setAttribute('style','display: initial;');
	    	}
		
	})
    }
    	    
</script>

</body>

</html>